{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>NetworkManager blog</h1>
    <p>Our vision, news and ideas, and whatever feels important.<br></p>
</div>

<div id="tags" class="content">
Tags:
	{{ range $.Site.Taxonomies.tags.ByCount }}
	    {{ with $.Site.GetPage (printf "/tags/%s" .Name) }}
		<a href={{ .RelPermalink }} title="All posts with tag '{{ .Name }}'">{{ .Name }}</a>
	    {{end}}
	   ({{ .Count }})
	{{end}}
</div>

<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
