{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="kube-component" class="content">
{{ .Content }}

<ul id="posts">
{{ range .Data.Pages.ByWeight }}
  <li>
  <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  <p>{{ .Params.description }}</p>
  </li>
{{ end }}
</ul>
</div>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
